<div class="container text-center pb-5">
  <h2>Informacion del desarrollador</h2>
  <ol class="pb-5 pt-5">
    <li>Desarrollador: Xavier Santamaria</li>
    <li>Edad: 21 años</li>
    <li>Trabajo: Desarrollador FrontEnd y BackEnd</li>
    <li>Hobbies: programar y ver series</li>
  </ol>
  <div class="card p-5">
    <div class="">
      Quote
    </div>
    <div class="">
      <blockquote class="blockquote mb-0">
        <p>Palabras de un programador.</p>
        <footer class="blockquote-footer">Nunca es tarde para hacer un <cite title="Source Title">hot fix</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
