<div class="row pt-5 pb-5 container ">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <img src="uno.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Joyas de la gastronomia</h5>
        <p class="card-text">Pero sumamente grasoso</p>
        <a (click)="enviarGoogle()" class="btn btn-primary">Buscanos</a>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img src="dos.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Platos deliciosos</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a (click)="enviarHome()" class="btn btn-primary">Mira nuestro menu</a>
      </div>
    </div>
  </div>
</div>
